
MacroShape/R/.Rhistory
MacroShape/.Rhistory
MacroShape/Presentation/JMA_BSPS_Fromal2017.aux
MacroShape/Presentation/JMA_BSPS_Fromal2017.log
MacroShape/Presentation/JMA_BSPS_Fromal2017.nav
MacroShape/Presentation/JMA_BSPS_Fromal2017.out
MacroShape/Presentation/JMA_BSPS_Fromal2017.snm
MacroShape/Presentation/JMA_BSPS_Fromal2017.synctex.gz
MacroShape/Presentation/JMA_BSPS_Fromal2017.toc
