/TR_JM_Manuscript.bbl
/TR_JM_Manuscript.log
/TR_JM_Manuscript.synctex.gz
/TR_JM_Manuscript.aux
/TR_JM_Manuscript.blg
/references.bib.bak
Responses.odt
R1.txt
TR_JM_Manuscript_R1.log
TR_JM_Manuscript_R1.bbl
TR_JM_Manuscript.pdf
.~lock.Responses.odt#
