/TR_JM_Manuscript.bbl
/TR_JM_Manuscript.log
/TR_JM_Manuscript.synctex.gz
/TR_JM_Manuscript.aux
/TR_JM_Manuscript.blg
/references.bib.bak
Responses.odt
R1.txt
TR_JM_Manuscript_R1.log
TR_JM_Manuscript_R1.bbl
TR_JM_Manuscript.pdf
.~lock.Responses.odt#
TR_JM_Manuscript_R1.tex
TR_JM_Manuscript_R1.aux
TR_JM_Manuscript_R1.knit.md
TR_JM_Manuscript_R1.utf8.md
.Rprofile
file*
Responses.pdf
.RData
pub agreement CC BY 2017.pdf
TR_JM_Manuscript_EditorRevisions.tex
TR_JM_Manuscript_EditorRevisions.log
TR_JM_Manuscript_Accepted.tex
TR_JM_Manuscript_Accepted.log
TR_JM_Manuscript_EditorRevisions.pdf
DR#4426_r1 NiSa.pdf
